rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if true;  // For development only
    }
    
    // You can add more specific rules for different paths if needed
    match /blog_images/{imageFolder}/{imageFile} {
      allow read, write: if true;
    }
  }
}